.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: var(--btn-w, 100%);
  height: 36px;
  border-radius: 6px;
  border: none;
  background: #0c0b13;
  color: white;

  span {
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
    overflow: hidden;
    max-width: 0;
  }

  &:not(.collapsed) {
    span {
      max-width: 180px;
      opacity: 1;
    }
  }

  &:hover {
    background: #13111d;
  }

  &.collapsed {
    height: 36px;
    --btn-w: 100%;
    gap: 0;

    span {
      opacity: 0;
      max-width: 0;
    }
  }
}
