.button {
  width: 100%;
  height: 36px;
  border-radius: 6px;
  border: none;
  background: #0c0b13;
  color: white;

  &:hover {
    background: #13111d;
  }

  &.collapsed {
    height: 36px;
    width: 36px;
  }
}
