.sidebar {
  height: 100%;
  background: #ffffff;
  width: var(--sb-w, 280px);
  border-radius: 16px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  transition: width 0.3s ease-in-out;
  box-sizing: border-box;
  padding: 16px;

  &.collapsed {
    --sb-w: 68px;
    --logo-w: 0px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  // border: red 1px solid;
  height: 100%;
  min-height: 0;
}

.logoContainer {
  display: flex;
  // border: blue 1px solid;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.logo {
  width: var(--logo-w, 140px);
  // border: blue 1px solid;
}

.buttonCollapse {
  margin-left: auto;
  height: 36px;
  width: 36px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  background: #f8f8f8;
  transition: 0.3s ease;

  &:hover {
    background: white;
    color: rgb(255, 94, 0);
  }
}

.createNewContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
  padding: 0;
}

.listMenu {
  padding-inline: 8px;
  margin-inline: -8px;
  // border: blue 1px solid;
  margin-top: 48px;
  flex: 0 1 auto;
  // overflow: auto;
  min-height: 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #f0f0f0;
}

.footer {
  border-top: 1px solid #f0f0f0;
  padding-top: 16px;
  margin-top: auto;
  margin-bottom: -16px;
}

@media (max-height: 900px) {
  .upgradeBlock {
    display: none !important;
  }
  .listMenu {
    border-bottom: none;
  }
}

@media (max-height: 600px) {
  .footer {
    border-top: none;
  }
}
