.container {
  display: flex;
  flex-direction: column;
  background: #e9e9e9;
  border-radius: 8px;
  padding: 16px;
  margin-top: 28px;
  transition: all 0.3s ease;

  &:hover {
    background: #cacaca;
  }
}

// <button close>
.closeSector {
  display: flex;
  align-items: center;
  justify-content: end;
}

.buttonClose {
  display: flex;
  padding: 3px;
  background: #d6d6d6;
  border-radius: 4px;
  outline: none;
  border: none;

  &:hover {
    background: #cecece;
  }
}
// <button close>

// <text sector>
.textBlock {
  padding: 24px 0;
  gap: 10px;
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 500;
  font-size: 1.2rem;
}

.text {
  font-size: 0.9rem;
}
// </text sector>

:global {
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.25s ease, transform 0.25s ease;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
    transform: translateY(-8px);
  }
}
