html,
body {
  height: 100%;
}

:root {
  --bg: #f7f7f7;
  --text: #000;
}

body {
  margin: 0;
  height: 100%;
  background: var(--bg);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  font-family: "Roboto", sans-serif;
}

.app-shell {
  display: flex;
  height: 100dvh;
  padding: 24px;
  box-sizing: border-box;
}
